@import (reference) './public.less';

.DJ {  
    position: relative;

    .sheet-head {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        @all-width();
        padding: 0 @one;

        .share {
            display: block;
            float: right;
            color: @tab-color;
            line-height: 1.7;
        }
    }

    .summary {
        position: relative;
        z-index: -1;

        .shadown-box {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            @all-width();
            height: 100%;
            background-color: rgba(0,0,0,.2);

            .headline {
                position: absolute;
                left: @one;
                bottom: @one * 4;
                z-index: 20;

                .dj-name {
                    color: @tab-color;
                    font-weight: bold;
                    font-size: @one + .1;
                    line-height: 2;
                }

                .sub-count {
                    font-size: @half + .2;
                    color: #e8e8e8;
                }
            }

            .sub-btn {
                position: absolute;
                bottom: @one * 4.5;
                right: @one;
                padding: @half - .2 @one;
                background-color: #d82c01;
                border-radius: 15px;
                color: @tab-color;
                font-size: @one - .2;
                z-index: 20;
            }
        }

                    
        img {
            @all-width();
        }
    }

    .DJ-tab {
        background-color: @tab-color;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: -@one * 3;
        @overflow();

        .DJ-tab-menu {
            @flex-around();
            padding: @half 0;
            font-size: @one - .2;
            color: #8d8d8d;
            line-height: 1.8;
            border-bottom: 1px solid #e4e4e4;

            .active {
                color: #d82c01;
                border-bottom: 2px solid #d82c01;
            }
        }

        .sum {
            padding: @half - .2 @half;
            font-size: @half + .3;
            background-color: #f5f5f5;
        }

        .DJ-content {
            padding: 0 @half;
            box-sizing: border-box;

            .program-list {

                .program {
                    border-bottom: 1px solid #f5f5f5;

                    .index {
                        float: left;
                        width: @one * 2;
                        line-height: 4.3;
                        text-align: center;
                        color: #8d8d8d;
                        font-size: @half + .3;
                    }

                    .caption {
                        margin-left: @one * 2.5;
                        padding-top: @half - .1;
                        padding-bottom: @half - .1;

                        .title {
                            font-size: @one - .1;
                            line-height: 1.8;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        .info {
                            font-size: @one - .2;

                            span {
                                margin-right: @half;
                                color: #8d8d8d;
                            }
                        }
                    }
                }
            }

            .anchor {
                font-size: @one;
                font-weight: bold;
                line-height: 2.4;
            }

            .intro {
                padding: @one 0;
                border-top: 1px solid #f5f5f5;
                border-bottom: 1px solid #f5f5f5;

                .thum {
                    float: left;
                    width: @one * 3;
                    height: @one * 3;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        @all-width();
                    }
                }

                .nick-name {
                    float: left;
                    margin-left: @half;

                    p:nth-of-type(1) {
                        font-size: @one;
                        line-height: 1.8;
                    }

                    p:nth-of-type(2) {
                        font-size: @one - .3;
                        color: #8d8d8d;
                    }
                }

                .admire {
                    float: right;
                    text-align: center;

                    button {
                        margin: @half - .3 0;
                        border: 1px solid #c72901;
                        background: none;
                        border-radius: 15px;
                        padding: @half - .3 @one;
                        color: #c72901;
                    }

                    p {
                        font-size: @half + .1;
                        color: #8d8d8d;
                    }
                }
            }

            .DJ-intro {
                margin-top: @one + @half;

                .label {
                    font-size: @one - .2;
                    color: #8d8d8d;
                    margin: @half 0 @half - .2 0;

                    .assort {
                        display: inline-block;
                        border: 1px solid #c72901;
                        border-radius: 3px;
                        padding: @half - .4 @half - .2;
                        color: #c72901;
                        font-size: @one - .3;
                    }
                }

                .content {
                    font-size: @one - .2;
                    color: #8d8d8d;
                    line-height: 1.8;
                }
            }

            .comments {
                margin-top: @one + @half;

                .comment-list {
                    margin-bottom: @one;
                    
                    .info {

                        .thum {
                            float: left;
                            width: @one * 2;
                            height: @one * 2;
                            border-radius: 50%;
                            overflow: hidden;

                            img {
                                @all-width();
                            }
                        }

                        p {
                            margin-left: @one * 2.5;
                            font-size: @one - .2;
                            line-height: 2.5;
                            color: #797979;
                        }
                    }
                }

                .comment-con {
                    margin-left: @one * 2.5;
                    font-size: @one - .1;
                    line-height: 1.8;
                }

                .program {
                    margin-left: @one * 2.5;
                    font-size: @half + .2;
                    color: #8d8d8d;
                    line-height: 2;
                }
            }
        }
    }
}