@charset "utf-8";

html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}
*{box-sizing: border-box;}
html, body {
    min-height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    font-size:100%;
    color:#333;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #232323;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input, textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow:hidden;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inline{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*头部*/
@font-face {
    font-family: 'iconfont';
    src: url('../static/font_icon/iconfont.eot');
    src: url('../static/font_icon/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../static/font_icon/iconfont.woff') format('woff'),
    url('../static/font_icon/iconfont.ttf') format('truetype'),
    url('../static/font_icon/iconfont.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #989898;
    font-size: 1.4rem;
}
.left-nav .iconfont,
.search .iconfont{
    color: #fff;
    font-size: 1.2rem;
}

#header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #313638;
    box-sizing: border-box;
}

#header .tab-center li{
    float: left;
}
#header .tab-center .index{
    margin:0 1.6rem;
}
#header .tab-center .video i{
    font-size: 1.2rem;
    line-height: 1.4;
}
.iconfont.active{
    color: #fff;
}

.main{
    margin-bottom: 4rem;
}

/*底部播放栏*/
.play-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: .5rem;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.play-bar .music-img{
    float: left;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3px;
    overflow: hidden;
}
.play-bar .music-img img{
    width: 100%;
}
.play-bar .music-title{
    margin-left: 3rem;
    font-size: .5rem;
    line-height: 1.6;
}
/* .play-bar .music-title p:nth-of-type(1){ } */
.play-bar .music-title p:nth-of-type(2){
    color: #8d8d8d;
}
.play-bar .music-btn{
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: 10;
}
.play-bar .music-btn .play-ctrl,
.play-bar .music-btn .collect
{
    display: inline-block;
    margin: 0 .5rem;
}
/*侧导航*/
.side-nav{
    position: fixed;
    top: 0;
    left: -95%;
    width: 85%;
    height: 100%;
    background-color: #f5f5f5;
    box-shadow: 17px 0px 35px rgba(0,0,0,.3);
    box-sizing: border-box;
    z-index: 20;
    transition: left .5s ease;
}
.side-nav.active{
    left: 0;
}

.left-login{
    background: url(../static/img/login.jpg) no-repeat center center;
    text-align: center;
    padding: 1.5rem 0;
}
.left-login p{
    color: #dcdcdc;
    font-size: .6rem;
    line-height: 2;
}
.left-login .login-btn{
    background: none;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: .8rem;
    padding: .3rem 2.2rem;
    margin-top: .8rem;
    outline: none;
}
.side-nav ul {
    background-color: #fff;
    margin-bottom: .3rem;
    padding: 0 .5rem;
}
.side-nav ul li {
    font-size: .5rem;
    color: #656565;
}
.side-nav ul li span{
    line-height: 3;
}
.side-nav ul li i {
    font-size: 1rem;
    margin-right: .7rem;
}
.side-nav ul li i.iconfont.up {
    font-size: .5rem;
}
.side-nav .setting {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 10;
    margin-bottom: 0;
}