@charset "utf-8";
.discuss-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: #3e3e3e;
    padding: .3rem .8rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 8;
}
.discuss-head span{
    font-size: .94rem;
}
.discuss-head .discuss-share{
    float: right;
    color: #fff;
    font-size: 1.2rem;
    line-height: 2;
}
.discuss-title-w {
    font-size: .6rem;
    background-color: #f5f5f5;
    padding: .4rem 0 .4rem .5rem;
}
.discuss-box {
    width: 100%;
    padding-left: .5rem;
    box-sizing: border-box;
}
.discuss-box li{
    margin: .4rem 0;
}
.discuss-box .head-port{
    float: left;
    width: 2rem;
    height: 2rem;
    margin-top: .5rem;
    border-radius: 50%;
    background-color: #f5f5f5;
    overflow: hidden;
}
.discuss-box .head-port img{
    width: 100%;
}
.discuss-box .discuss-body{
    margin-left: 3rem;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 0;
    padding-right: .5rem;
}
.discuss-box .discuss-body .discuss-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}
.discuss-up .discuss-author p:nth-of-type(1){
    font-size: .78rem;
    color: #464646;
    line-height: 1.8;
}
.discuss-up .discuss-author p:nth-of-type(2){
    font-size: .5rem;
    color: #8d8d8d;
}
.discuss-down .content{
    margin-bottom: .5rem;
}
.discuss-down .content p{
    font-size: .8rem;
    line-height: 1.6;
}
.discuss-down .replay{
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    padding: .5rem .3rem;
    box-sizing: border-box;
    font-size: .8rem;
    margin-bottom: .5rem;
}
.discuss-down .replay span{
    color: #317ed0;
}
.discuss-down .replay p{
    color: #8d8d8d;
    font-size: .5rem;
    line-height: 1.8;
}
.discuss-like .list-count{
    font-size: .5rem;
    color: #c7c7c7;
}
.discuss-like .iconfont{
    color: #c7c7c7;
    font-size: 1.2rem;
}
.discuss-target {
    width: 100%;
    padding: .5rem;
    margin-top: 3rem;
    box-sizing: border-box;
}
.discuss-target .discuss-thum{
    float: left;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 5px;
    overflow: hidden;
}
.discuss-target .discuss-thum img{
    width: 100%;
}
.discuss-target .discuss-line{
    float: left;
    max-width: 78%;
    padding-left: .5rem;
    margin-top: .8rem;
}

.discuss-target .discuss-line p {
    font-size: .78rem;
}
.discuss-target .discuss-line .author{
    color: #8d8d8d;
    line-height: 2;
}
.discuss-target .discuss-line .author span{
    color: #69a4d0;
}