@charset "utf-8";

.local-function li {
    padding: 1rem;
    border-bottom: 1px solid #f5f5f5;
    line-height: 23px;
    font-size: .9rem;
}

.local-function li .iconfont {
    margin-right: 1rem;
    vertical-align: top;
}