@charset "utf-8";
.search-input{
    position: relative;
    display: flex;
    justify-content: start;
    padding: .8rem;
    box-sizing: border-box;
    background-color: #313638;
}
.search-input .search-back{
    width: 2rem;
    line-height: 2;
    color: #fff;
    font-size: 1rem;
}
.search-input input {
    width: 100%;
    color: #fff;
    border-bottom: 1px solid #ccc;
    background: none;
    padding: .5rem .2rem;
}

.search-input .search-result{
    position: fixed;
    top: 58px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 20;
}
.search-result .result-list{
    background-color: #313638;
    border-top: 1px solid #373737;
    padding: .8rem .5rem;
    color: #fff;
}