@charset "utf-8";
.sheet-box{
    width: 100%;
    background-color: #3a3e39;
}
.sheet-box .sheet-head{
    padding: .3rem .8rem;
    box-sizing: border-box;
}
.sheet-head a,
.sheet-head i,
.sheet-head span{
    color: #fff;
}
.sheet-head span{
    font-size: 1rem;
}
.sheet-head a,
.sheet-head .sheet-more{
    float: right;
}
.sheet-head .sheet-more{
    line-height: 1.8;
    margin-left: 1rem;
    font-size: 1.3rem;
}
.sheet-head a i{
    font-size: 1rem;
    line-height: 2.4;
}